.star-bg {
    background: transparent url("https://www.transparenttextures.com/patterns/stardust.png");
    background-size: cover;
    animation: starsMove 90s linear infinite;
    opacity: 0.3;
    pointer-events: none;
    z-index: 0;
  }
  
  @keyframes starsMove {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -1000px 1000px;
    }
  }